body {
  background-color: black;
  margin: 0;
  overflow-x: hidden;
}

@font-face {
  font-family: GloriaHallelujah;
  src: url("fonts/GloriaHallelujah-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: FjallaOne;
  src: url("fonts/FjallaOne-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0 0 0 / 85%);
  position: fixed;
  color: white;
  width: 100vw;
  height: 8vh;
  z-index: 5;
}

header #logo {
  display: flex;
  align-items: center;
  margin-left: 2vw;
  font-family: FjallaOne, sans-serif;
  font-size: 1.2vw;
  letter-spacing: 0.4px;
  transition: 1s;
}

header #logo img {
  width: 4vw;
  transition: 1s;
  margin-right: 3px;
}

header #logo img:hover {
  margin-right: 10px;
}

header #logo:hover {
  filter: invert(1);
  color: red;
}

.buttons {
  display: flex;
  align-items: center;
  margin-right: 2vw;
}

.button {
  background-color: rgb(99 31 31);
  text-decoration: none;
  border-radius: 8px;
  font-size: 1.2vw;
  padding: 0.5vw;
  color: white;
  margin: 0;
  transition: 0.5s;
}

.buttons h2 {
  font-family: FjallaOne, sans-serif;
  letter-spacing: 1.5px;
  margin-right: 1vw;
  font-size: 1.5vw;
}

.button:hover {
  background-color: rgb(233 95 74);
  text-decoration: underline;
}

.background-image.block1 {
  background-image: url("./img/cleaning.jpeg");
  background-size: cover;
  filter: blur(5px) brightness(50%);
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

.background-image.block2 {
  background-image: url("./img/background.jpg");
  background-size: cover;
  filter: blur(5px) brightness(120%);
  position: absolute;
  height: 100vh;
  width: 100vw;
  margin: 0;
  margin-top: 100vh;
  z-index: 0;
}

#information {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-wrap: wrap;
  color: rgb(233 214 214);
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#information h2 {
  font-family: GloriaHallelujah, sans-serif;
  transform: rotate(-5deg);
  text-align: center;
  font-size: 5vw;
  margin: 0;
}

#information h3 {
  font-family: GloriaHallelujah, sans-serif;
  transform: rotate(-5deg);
  text-align: end;
  font-size: 1.4vw;
  margin: 0;
}

#information img {
  width: 25%;
}

#request {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-wrap: wrap;
  color: rgb(233 214 214);
  width: 100vw;
  height: 100vh;
  margin: 0;
  margin-top: 100vh;
  z-index: 1;
}

#request-block {
  width: 50vw;
  height: 65vh;
  border: 1vw solid black;
  background-color: rgba(77 77 77 / 70%);
}

#request-block h1 {
  text-align: center;
  font-size: 3vw;
  font-family: FjallaOne, sans-serif;
  letter-spacing: 3px;
  color: white;
  margin-bottom: 4vh;
}

#request-block section {
  display: flex;
  justify-content: center;
}

input {
  font-size: 1.3vw;
  background-color: rgb(255 255 255);
  color: black;
  width: 30vw;
  height: 5vh;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.send-button {
  background-color: rgb(56 41 41);
  text-decoration: none;
  border-radius: 25px;
  text-align: center;
  color: white;
  padding: 1vw;
  width: 15vw;
  margin-top: 0.1vw;
  transition: 0.2s;
}

.send-button:hover {
  background-color: rgb(124 93 93);
  width: 17vw;
}
